<table class="table table-hover">
    <tr>
        <td class="col">
            <a href="{{ url_for('HVObra.detalles_HVO', value=HVO.id) }}">
                <h2> {{ HVO.nombre }} </h2> 
            </a>
        </td>
        <td>
            <span class="user_popup">
                <a href="">
                    <b>Fecha ultima actualizacion :</b> {{ HVO.fecha_ultima_actualizacion.date() }}
                </a>
            </span>
            <br>
            <span id="{{ HVO.estado }}">{{ HVO.estado }}</span>
            <br><br>
            <span id="">
               <b>Descripcion de la obra: </b> {{ HVO.descripcion }}
            </span>
        </td>
    </tr>
</table>