<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="">
                <img width="300px" src="{{ url_for('static', filename=HVA.filename_foto1)  }}" />
            </a>
        </td>
        <td>
            <span class="user_popup">
                <a href="">
                    <h1>
                    <span id="{{ HVA.estado }}">
                        <a href="{{ url_for('Hautomotor.detalles_HVA', value=HVA.id) }}">
                             {{ HVA.placa }}
                        </a>
                    </span>
                </h1>
                </a>
            </span>
            <br>
            <b>Fecha ultima actualizacion :</b> {{ HVA.fecha_ultima_actualizacion.date() }}
            <br><br>
            <span id="">
               <b>Seccion </b> {{ HVA.seccion }}
            </span>
        </td>
    </tr>
</table>