<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="">
                <img width="300px" src="{{ url_for('static', filename=HVA.filename_foto1)  }}" />
            </a>
        </td>
        <td>
            <span class="user_popup">
                <a href="">
                    <b>Fecha ultima actualizacion :</b> {{ HVA.fecha_ultima_actualizacion.date() }}
                </a>
            </span>
            <br>
            <span id="{{ HVA.estado }}">{{ HVA.placa }}</span>
            <br><br>
            <span id="">
               <b>Seccion </b> {{ HVA.seccion }}
            </span>
        </td>
    </tr>
</table>